@charset "utf-8";
/* CSS Document */

body {
	width: 1000px;
	margin: auto;
}

body h5 {
	font-family: serif;
	width: 450px;
	margin: 180px;
	font-size: 25px;
	color: black;
}

body p {
	font-family: serif;
	width: 600px;
	margin: 180px;
	font-size: 18px;
	color: black;
}

header {
	font-family: serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	background: rgba(0, 0, 0, .8);
}

header .wrap {
	margin: 0 auto;
	width: 90%;
	max-width: 69em;
}

header h1, header .menu a {
	line-height: 140px;
}

header h1 {
	float: left;
	margin: 0;
	color: pink;
	font-size: 72px;
	text-transform: uppercase;
}

header .menu {
	float: right;
}

a {
	margin: 0 10px;
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
	color: cornflowerblue;
}
